<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Markating</display-name>
  <welcome-file-list>
    <welcome-file>page1.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComServlet</display-name>
    <servlet-name>ComServlet</servlet-name>
    <servlet-class>com.ComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComServlet</servlet-name>
    <url-pattern>/ComServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page2Servlet</display-name>
    <servlet-name>Page2Servlet</servlet-name>
    <servlet-class>com.Page2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page2Servlet</servlet-name>
    <url-pattern>/Page2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThankyouServlet</display-name>
    <servlet-name>ThankyouServlet</servlet-name>
    <servlet-class>com.ThankyouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThankyouServlet</servlet-name>
    <url-pattern>/ThankyouServlet</url-pattern>
  </servlet-mapping>
</web-app>